@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header a {
    text-decoration: none;
}

header {
    font-family: 'Montserrat'; 
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px 20px 70px;
}

.logo {
    cursor: pointer;
    height: 70px;
}

.nav-area {
    list-style: none;
}

.nav-area li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
    width: 170px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
}

.nav-area li a {
    transition: .3s;
    color:rgba(255, 166, 0, 0.863);
}

.nav-area li a:hover {
    color: whitesmoke;
}

.nav-area ul {
    display: none;
    position: absolute;
}

.nav-area li:hover > ul {
    display: block;
}

body {
    font-family: 'Montserrat'; 
    background-image: url(/assets/banner-image-stock.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section {
    margin: 0;
    padding: 8rem 3rem 3rem 3rem;
    font-size: 1.25rem;
    line-height: 1.3;
}

body a {
    text-decoration: none;
    width: 758px;
}

.card {
    display: grid;
    grid-template-columns: 365px repeat(2, 1fr);
    grid-template-rows: 1fr auto;
    background: rgb(27, 27, 27);
    color: whitesmoke;
    margin: 15px auto 15px auto;
    height: 205px;
    width: 758px;
    border-style: groove;
    border-color: rgba(255, 166, 0, 0.863);
    border-width: 5px;
    border-radius: 10px;
}

.card .card__image {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 5px 0px 0px 5px;
    
}

.card .card__content {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    padding: 1rem;
}

/*.card .card__title {
    display: inline-block;
    font-size: 1.85rem;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-align: left;
    vertical-align: middle; --HOLD
}*/

.card .card__title h3 {
    display: inline-block;
    font-size: 22px;
    /*line-height: 1.1;*/
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-align: left;
    /*vertical-align: middle;*/
    padding-bottom: 10px;
    width:100%;
}

.card .card__title p {
    display: inline-block;
    font-size: 16px;
    /*line-height: 1.1;*/
    font-weight: 300;
    /*margin-bottom: 0.5rem;*/
    text-align: left;
    /*vertical-align: middle;*/
}

.card .card__content {
    margin: auto;
    display: flex;
}

.card .card__author {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 1.2rem;
    line-height: 1;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.card .card__date {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    font-size: 1.2rem;
    line-height: 1;
    padding-bottom: 1rem;
    padding-right: 1rem;
    justify-self: end;
}

.list h2 {
    color: whitesmoke;
    text-shadow: 2px 2px rgba(255, 166, 0, 0.863);
    margin: auto;
    text-align: left;
    width: 758px;
    height: 25px;
}