@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --time: 0.15s;
}    

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat'; 
    font-size: 10px;
    background-image: url(/assets/lloyd-dirks-4SLz_RCk6kQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    background-size: cover;
}

/*NAV CSS*/
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    width: 100%;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
}

#navbar {
    width: 100%;
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.5rem;

}

.menu-icons {
    color:rgba(255, 166, 0, 0.863);
    font-size: 4rem;
    position: absolute;
    margin-top: 50%;
    margin-right: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;
    display: none;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 6rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.247);
}

.logo {
    width: 5rem;
    height: 5rem;
    background-color: #142427;
    display: flex;
    border-radius: 100%;
    margin-right: 0;
    cursor: pointer;
    z-index: 100;
}

.nav-list {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: -80px;
}

.nav-list li {
    line-height: 6rem;
    position: relative;
}

.sub-menu li {
    line-height: 3rem;
}

.nav-list a {
    display: block;
    color:rgba(255, 166, 0, 0.863);
    padding: 0 1.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.nav-list a:hover {
    color:rgb(255, 166, 0);
}

.sub-menu {
    width: 14rem;
    display: block;
    position: absolute;
    border-top: 2px solid rgba(255, 166, 0, 0.863);
    background-color: #171717;
    z-index: 100;
    margin-top: -2rem;
    opacity: 0;
    visibility: hidden;
}

.sub-menu::before {
    content: '';
    position: absolute;
    top: -2.0rem;
    left: 1.5rem;
    border: 1.0rem solid transparent;
    border-bottom-color: rgba(255, 166, 0, 0.863);
}

.nav-list li:hover > .sub-menu {
    top: 8rem;
    opacity: 1;
    visibility: visible;

}
/*END NAV*/




/*BEGIN BODY OF WEBPAGE*/
.main_article {
    text-align: left;
}

body {
    font-family: 'Montserrat'; 
    font-size: 10px;
    background-image: url(/assets/lloyd-dirks-4SLz_RCk6kQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    background-size: cover;
    margin: 0px;
}

main {
    padding-top: 5rem;
    min-height: 900px;
    color: whitesmoke;
}
.flex_parent {
    /*background-color: red;*/
    display: flex;
    margin: 8rem auto 8rem auto;
    max-width: 1000px;
    min-height: 700px;
    color: whitesmoke;
}

.flex_child_1 {
    background-color: #171717;
    /*width: 600px;*/
    display: block;
    flex: 2 2 70%;
    padding: 20px 40px 20px 20px;
    color: whitesmoke;
}

.flex_child_2 {
    background-color:#171717;
    display: block;
    flex: 0 0 30%;
    padding: 20px;
    color: whitesmoke;
    font-size: 1rem;
    line-height: 30px;
}

.flex_child_1 p {
    max-width:660px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 30px;
    font-family: Montserrat;
    color: whitesmoke;
}

.article_header h1 {
    font-size: 1.7rem;
}

.article_header h3 {
    font-size: 1rem;
}

.article_body img {
    padding-bottom: 1rem;
}

.flex_child_2 ul li a {
    text-decoration: none;
    display: block;
    padding: 15px 0px;
    text-align: left;
    color: whitesmoke;
}

.flex_child_2 ul {
    list-style-type: none;
    padding: 0px;
}

.flex_child_2 h1 {
    padding-bottom: 2rem;
}
/*END BODY OF WEBPAGE*/