// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;

// Color Pallette
$black: #000000;
$veryDarkGrey: #121212;
$darkBlue: #222831;
$ligihtNavy: #2D4059;
$vividOrange: #FF5722;
$veryLightGrey: #eeeeee;
$white: #FFF;
